.compBackgroundExp {
    background-color: #1B1F23;
    border-radius: 10px;
    color: #EDEDE3;
    margin-top: 0.5rem;
}

.infoPenExp {
    cursor: pointer;
    margin-right: 0.5rem;
}

.addPlusExp {
    cursor: pointer;
    font-size: large;
    width: 100%;
    align-self: center;
    margin-right: 0.5rem;
}

h5 {
    margin: 0;
    font-weight: bold;
}

.card-body {
    padding: 1.5rem;
}

.professione {
    font-weight: bold;
    color: #EDEDE3;
    font-size: 1.1rem;
}

.titoloPost {
    font-size: 0.9rem;
}

.azioneAttivita {
    color: #949493;
    font-size: 0.9rem;
}

.reactions {
    margin-top: 1rem;
    color: #949493;
    font-size: 0.9rem;
    img {
        max-width: 1rem;
        min-width: 1rem;
        height: 2rem;
    }
    .reactionsNum {
        font-size: 90%;
        margin-left: 0.2rem;
        margin-top: 0.2rem;
    }
}

.imgAttivita {
    min-width: 48px;
    margin-right: 0.8rem;
    margin-top: 0.3rem;
}

.expRow {
    border-bottom: 1px solid #949493;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.expRow:last-of-type {
    border-bottom: none;
}

.followerz {
    font-size: 90%;
    color: #6ABAFB;
}

.btnblue {
    &:hover {
        background-color: #38434F;
    }
}

.btnblue2 {
    border: none;
    border-radius: 20px;
    margin-right: 8px;
    padding: 2px 15px;
    background-color: #1B1F23;
    color: #EDEDE3;
    border: 1px solid #EDEDE3;

    &:hover {
        background-color: #44474B;
    }
}

.btngreen {
    border: none;
    border-radius: 20px;
    margin-right: 8px;
    padding: 2px 15px;
    background-color: #37C898;
    color: #1B1F23;

    &:hover {
        background-color: #74E5C0;

    }
}