.pageBackground {
    background-color: #000000;
}

.pageWhtTxt {
    color: #EDEDE3;
}

.pageGrayTxt {
    color: #A49D84;
}

.pageBlueTxt {
    color: #AAD6FF;
}

.compBackground {
    background-color: #1B1F23;
}

.bluBtnBg {
    background-color: #AAD6FF;
}

.grayblueBtnBg {
    background-color: #38434F;
}

.whtBtnBgHvr {
    background-color: #44474B;
}

.greenBtnBg {
    background-color: #37C898;
}

.greenBtnBgHvr {
    background-color: #74E5C0;
}

.grayDetails {
    background-color: #373A3D;
}