.compBackgroundLic {
    background-color: #1B1F23;
    border-radius: 10px;
    color: #EDEDE3;
    margin-top: 0.5rem;
}

.infoPenExp {
    cursor: pointer;
    margin-right: 0.5rem;
}

.addPlusExp {
    cursor: pointer;
    font-size: large;
    width: 100%;
    align-self: center;
    margin-right: 0.5rem;
}

h5 {
    margin: 0;
    font-weight: bold;
}

.card-body {
    padding: 1.5rem;
}

.competenza {
    font-weight: bold;
    color: #EDEDE3;
    font-size: 1.1rem;
}

.periodoCertif {
    color: #949493;
    font-size: 0.9rem;
}

.seguiti {
    margin: 1rem 0;
    border: 2px solid #949493;
    border-radius: 2rem;
    background-color: #1B1F23;
    color: #EDEDE3;
    width: 100%;
    text-align: start;
    padding: 0.5rem 0.8rem;
    font-weight: 600;

    &:hover {
        background-color: #44474B;
        transition: 0.2s;
    }
}

.imgComp {
    min-width: 30px;
    max-width: 30px;
    margin-right: 0.8rem;
    margin-top: 0.3rem;
}

.licenzeFooter {
    padding: 0.5rem 0;
    border-top: 1px solid #949493;
    font-weight: 600;

    &:hover {
        background-color: #44474B;
        transition: 0.2s;
    }
}

.iconCompetenze {
    font-size: 1.2rem;
    width: 30px;
    height: 24px;
}

.inBody {
 border-top: 1px solid #949493;
}