@media screen and (min-width: 1400px) {
    .immagineP2{
        top: 135px;
    }
}


@media screen and (max-width: 1199px) {
    .immagineP2{
        top: 40px;
    }
}

@media screen and (max-width: 991px) {
    .immagineP2{
        top: 55px;
    }
}

@media screen and (max-width: 767px) {
    .immagineP2{
        top: 16px;
    }
}

@media screen and (max-width: 616px) {
    .immagineP2{
        width: 120px;
        height: 120px;
    }

    .primoBox{
        border-radius: 0!important;
    }

    .imgBanner{
        border-top-right-radius: 0!important;
        border-top-left-radius: 0!important;
    }
}
