.card {
    background-color: #1B1F23;
    border-radius: 10px;
    color: #EDEDE3;
    margin-bottom: 0.5rem;
}

.leftLinkJobs {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 90%;

    span {
        cursor: pointer;
    }

    .iconcine {
        width: 1.5rem;
        height: 1.5rem;
        color: #C6C7C8;
        cursor: pointer;

    }
}

h5 {
    margin: 0;
    font-weight: bold;
}

.sottotitoloCons {
    font-size: 90%;
}

.consigliatiGroup {
    cursor: pointer;
}

.consigliatiPosizione {
    color: #6ABAFB;
    font-size: 98%;

    &:hover {
        text-decoration: underline;
    }
}

.secondoSottotitolo {
    font-size: 70%;
    margin-top: 0.5rem;

    span {
        margin-left: -2rem;

    }

    div img {
        width: 35%;
    }

    .logoLinkedinBianco {
        color: #EDEDE3;
        font-size: 130%;
    }
}

.imgAziendaCons img {
    width: 4rem;
    height: 4rem;
}

.bordinoPremium {
    width: 99%;
    margin: -1px auto;
    background-color: #F9C982;
    height: 0.2rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.premiumIcon {
    width: 10px;
    height: 10px;
    background: rgb(231, 163, 62);
    background: linear-gradient(45deg, rgba(231, 163, 62, 1) 50%, rgba(248, 199, 126, 1) 50%);
}

.premiumTitle {
    font-size: 70%;
    letter-spacing: 2px;
    color: #949493;
}

.premiumPic img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

}

.elencoPremium {
    font-size: 99%;
}

.tantiProfili {
    position: relative;
    width: 20%;
    margin-right: 0.5rem;
}

.tantiProfili1,
.tantiProfili2,
.tantiProfili3 {
    position: absolute;
    top: 0;
    width: 100%;
}

.tantiProfili1 {
    left: 15%;
}

.tantiProfili2 {
    left: 10%;
}

.tantiProfili3 {
    left: 30%;
}

.premiumbtn {
    background-color: #F8C77E;
    color: #171006;

    &:hover {
        background-color: #E9A53F;
    }
}

.footerJobs {
    font-size: 80%;
    margin: 0.5em;
    color: #949493;
    cursor: pointer;
}

.footerJobs.pageWhtTxt {
   cursor: text;
   color: #EDEDE3;
}